<h1><%= @cocktail.name %></h1>
<% if @cocktail.doses.count > 0 %>
  <h3>It uses the following doses</h3>
<% else %>
  <h3>No doses for this cocktail</h3>
<% end %>
<% @cocktail.doses.each do |dose| %>
  <p><%= dose.ingredient.name %> - <%= dose.description %> <%= link_to 'Remove dose', dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %></p>
<% end %>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <% if @dose.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @dose.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="info-container">
    <h3>Add a new ingredient</h3>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "Add ingredient", class: "btn btn-primary" %>
  </div>
<% end %>
<p><%= link_to "Back to the cocktails list", cocktails_path %></p>
